<div class='box max-width'>
  <h1>{{user.username}}'s Collection</h1>
  <div class='guitars-grid'>
    {{#each collection}}
      <div class='guitar-card'>
        <h3>{{nickName}}</h3>
        <a href='/guitars/{{this.id}}'><img src={{image}} alt='beauty-pic' /></a>
        <div class='guitar-info'>
          <p>Brand: {{brand}}</p>
          <p>Model: {{model}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>